.fastener {
  padding: 110px 230px;

  background-color: #F1F1F4;
}

.fastener__title {
  padding-bottom: 50px;
  margin-bottom: 16px;

  font-size: 30px;
  font-weight: 400;
  color: #707076;

  text-align: center;
}

.fastener__main {
  display: flex;
  justify-content: space-between;
  position: relative;
  max-width: 940px;
  margin: 0 auto;
}

.fastener__left,
.fastener__right {
  width: 325px;

  color: #868692;
  font-size: 16px;
  line-height: 1.4;
}

.section__subtitle {
  padding-bottom: 20px;

  color: #707076;
  font-size: 20px;
  font-weight: 400;
}

.fastener__left p,
.fastener__right p {
  padding-bottom: 25px;
}

.fastener-colors {
  margin-top: 49.5px;

  text-align: center;
}

.fastener-colors__btn {
  margin: 0 5px;
}

.fastener__text {
  margin: 33px 0;

  font-size: 23px;
  color: #707076;
  letter-spacing: 2px;
  font-weight: 400;
  text-align: center;
}

.fastener__btn-wrap {
  text-align: center;
}

.fastener__btn {
  width: 372px;
  height: 76px;

  text-align: center;

  font-size: 15px;
}

.white-square {
  display: flex;
  width: 200px;

  margin-top: 79px;

  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.white-square__text {
  margin-top: 5px;
  padding-left: 20px;

  font-weight: 400;

  color: #868692;
}

.white-square__dr {
  width: 45px;
  height: 45px;
  padding-top: 10px;

  color: #fff;
  font-weight: 700;
  font-size: 20px;

  text-align: center;

  background-color: #FFC72C;
}


