.header {
  /*position: sticky;*/
  /*top: 0;*/
  /*z-index: 100;*/
}

.header__info {
  display: flex;
  justify-content: space-between;
  height: 55%;
  padding: 17px 200px;

  align-items: center;

  background-color: #404040;
}

.header__tel {
  text-decoration: none;
  color: #FDC52B;
  font-family: 'Futura PT', sans-serif;
  font-size: 23px;
  font-weight: 400;
}

.header__tel:hover {
  text-decoration: underline;
}

.header__btn {
  width: 187px;
  height: 54px;
}

.header__menu-wrap {
  padding: 20px 0;
  background-color: #ffffff;
}
