.header {
  position: sticky;
  top: 0;
  z-index: 100;
}

.header__info {
  display: flex;
  justify-content: space-between;
  height: 55%;
  padding: 17px 200px;

  align-items: center;

  background-color: #404040;
}

.header__tel {
  text-decoration: none;
  color: #FDC52B;
  font-family: 'Futura PT', sans-serif;
  font-size: 23px;
  font-weight: 400;
}

.header__tel:hover {
  text-decoration: underline;
}

/* todo вынеси в отдельный файлик. И во всех файлах перепроверь */
.logo__img {
  width: 177px;
}

.header__btn {
  width: 187px;
  height: 54px;
}

.header__menu-wrap {
  padding: 20px 0;
  background-color: #ffffff;
}

.menu {
}

.menu__list {
  display: flex;
  justify-content: center;
}

.menu__item {
  padding: 0 35px;

  border-right: 1px #7F7F88 solid;

  list-style: none;
}

.menu__item:last-child {
  border: none;
}

.menu__link {
  font-size: 18px;
  text-decoration: none;
  display: block;
  color: #aaa;
  transition: color .3s ease-out;
}

.menu__link:hover {
  color: #be7d15;
}


