.main {
  max-width: 1500px;
  padding-top: 110px;
  padding-bottom: 50px;
  padding-right: 10px;
  padding-left: 230px;
}

.main__inner {
  background: url(../img/bg.jpg) no-repeat center center;
  background-size: cover;
}

.main__title {
  width: 485px;
  height: 192px;

  margin-bottom: 43px;
}

.main__h1 {
  font-size: 45px;
  font-weight: 400;
  color: #63636B;
}

.main__subtitle {
  margin-top: 10px;

  font-size: 25px;
  font-weight: 400;
  color: #7F7F88;
}

.main__btn {
  width: 260px;
  height: 76px;
  margin-bottom: 200px;

  font-size: 15px;
}

.main__advantages {
  display: flex;
}

.advantages {
  margin-right: 75px;
}

.main__advantages__text {
  color: #7F7F88;
  font-size: 16px;
  line-height: 1.4;
}













