body {
  margin: 0;

  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul, ol {
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Page
=============================*/

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.logo__img {
  width: 177px;
  height: 55px;
}

.menu {
  margin: 20px auto;
}

.menu__list {
  display: flex;
  justify-content: center;
}

.menu__item {
  padding: 0 25px;

  border-right: 1px #7F7F88 solid;

  list-style: none;
}

.menu__item:last-child {
  border-right: none;
}

.menu__link {
  font-size: 18px;
  color: #7F7F88;
  text-decoration: none;
}

/* Btn
=============================*/

.btn {
  color: #383331;
  font-size: 12px;
  font-weight: 600;
  font-family: 'Manrope', sans-serif;
  letter-spacing: 1.7px;

  background-image: linear-gradient(to top, #FFAC2B, #FFC331);
  cursor: pointer;

  border: none;
  box-shadow: 10px;
}

.btn_header {
  width: 187px;
  height: 54px;
}

.btn_header:hover {
  background-image: linear-gradient(to bottom, #FFAC2B, #FFC331);
}



