.tooltip {
  background: #fff;
  color: #868692;
  padding: 8px 20px;
  font-size: 12px;
  cursor: default;
  width: 300px;

  border: 1px rgba(150, 174, 188, .5) solid;
  border-radius: .3px;
  box-shadow: 0 0 0 5px #fff;
}

.tooltip__text {
  width: 262px;
  margin: 27px 0;
}

.tooltip__item {
  margin-bottom: 10px;
  line-height: 1.6;
}
