.btn__box {
  display: flex;
  padding: 10px;
}

.btn {
  display: block;
  margin: 0 40px;
  padding: 20px;
  width: 100px;
  border: 2px red solid;
  text-align: center;
}

.btn__label {
  display: flex;
  align-items: center;
  height: 30px;
}
